extends ../layouts/default

block content
    header
      .header-content
        .header-content-inner.text-center
          h1.header1 Aikido Centrum Haarlem
          a.btn.btn-primary.btn-xl.page-scroll(href='#about') Leer ons kennen